<div class="jumbotron top-buffer">
  <h1>Node Authentication</h1>
  <p>A simple application with AngularJS and Twitter Bootstrap as frontend and NodeJS as backend.</p>
  <div class="container top-buffer">
	  <a class="btn btn-primary" href="#/signup" role="button">Sign Up</a>
	  <a class="btn btn-primary" href="#/login" role="button">Log In</a>
	  <a class="btn btn-primary disabled" href="#" role="button">Facebook</a>
	  <a class="btn btn-primary disabled" href="#" role="button">Twitter</a>
	  <a class="btn btn-primary disabled" href="#" role="button">Google</a>
  </div>
  </p>
</div>